body {
  display: grid;
  height: 100vh;
  place-items: center;
  margin: 0;
}

main {
  height: 660px;
  width: 375px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #000000a6;
}

.notification {
  background-color: #eeeeee;
  width: 335px;
  height: 339px;
  border-radius: 7px 7px 0px 0px;
  box-shadow: 0 -3px 6px #00000029;
}

.notification__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.notification__header p {
  color: #1c1c1c;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: 15.63px;
}

hr {
  width: 280px;
}

.content {
  margin-left: 15px;
}

.content__title {
  margin: 0;
  color: #575757;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.content__description {
  margin: 15px 0 0 0;
  color: #575757;
  font-size: 14px;
}
.content__description img {
  margin-right: 7.4px;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15.42px;
}

.terms a {
  color: #575757;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.content__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.content__buttons button {
  border: none;
  width: 130px;
  height: 39px;
  border-radius: 7px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.skip__button {
  background-color: #939393;
}

.acquire__button {
  background-color: #dd141d;
  margin-left: 15.08px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19.35px;
}

.footer p {
  width: 139px;
  text-align: center;
  margin: 0;
  color: #575757;
  font-size: 11px;
  font-family: "Roboto", sans-serif;
}

.footer p span {
  font-weight: bold;
}
